spring:
  application:
    name: store
  profiles:
    active: dev
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  jwt:
    secret: ${JWT_SECRET}
    accessTokenExpiration: 900 # 2hours
    refreshTokenExpiration: 604800 #7-days
stripe:
  secretKey: ${STRIPE_SECRET_KEY}
  webhookSecret: ${STRIPE_WEBHOOK_SECRET_KEY}