<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="APP_NAME" value="${spring.application.name:-app}"/>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app":"${APP_NAME}"}</customFields>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>

    <!-- Your app logs -->
    <logger name="com.shervin.store" level="INFO"/>

    <!-- Reduce noise -->
    <logger name="org.hibernate.SQL" level="WARN"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.security" level="WARN"/>

</configuration>
